<section style="padding: 50px 0px" class="service_section">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Our Services</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/media/s1.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>General Maintenance</h4>
            <p>
              Routine car maintenance ensures safety, performance, and longevity
              of vehicles
            </p>
            <a routerLink="/services">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/media/s2.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Repair and Replacement</h4>
            <p>
              Efficient car repair and part replacement ensure vehicle
              reliability and safety
            </p>
            <a routerLink="/services">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/media/s3.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Tire Repair and Replacement</h4>
            <p>
              Expert tire repair and replacement for safe and smooth driving
            </p>
            <a routerLink="/services">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/media/s4.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Wheel Alignment</h4>
            <p>
              Precise wheel alignment enhances steering control and tire
              longevity
            </p>
            <a routerLink="/services">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/media/s5.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Fuel System Repair</h4>
            <p>
              Effective fuel system repair optimizes engine performance and fuel
              efficiency
            </p>
            <a routerLink="/services">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/media/s6.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Tune Up</h4>
            <p>
              Our thorough car tune-up enhances engine performance and fuel
              economy
            </p>
            <a routerLink="/services">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
