<section style="padding: 50px" class="contact_section layout_padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <div class="heading_container">
            <h2>Get In Touch</h2>
          </div>
          <form action="#">
            <div>
              <input type="text" placeholder="Your Name" />
            </div>
            <div>
              <input type="email" placeholder="Your Email" />
            </div>
            <div>
              <input type="text" placeholder="Your Phone" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="btn_box">
              <button>SEND</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="../../../assets/media/contact-img.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div style="width: 100%; padding-top: 80px">
    <iframe
      width="100%"
      height="600"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=2602%20Loma%20Ave,%20South%20El%20Monte,%20CA%2091733+(Apex%20Auto)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
      ><a href="https://www.gps.ie/">gps systems</a>
    </iframe>
  </div>
</section>
