<div class="perfect">
  <div class="container_width">
    <div class="row d_flex grig">
      <div class="col-lg-6">
        <div class="perfect_img">
          <figure>
            <img src="../../../assets/media/article-pic-1.jpg" alt="#" />
          </figure>
        </div>
      </div>
      <div class="col-lg-6 order">
        <div class="titlepage text_align_left">
          <h2>
            The Dangers of Phone Use While Driving: Urgent Calls for Safer Roads
          </h2>
          <p>
            In today's fast-paced world, using phones while driving poses grave
            dangers, leading to dangerous distractions and increasing the risk
            of accidents. Real-life examples and statistics highlight the urgent
            need for safer driving practices to prevent devastating
            consequences.
          </p>
          <a href="" class="article-btn"> Read More </a>
        </div>
      </div>
    </div>
    <div class="row d_flex">
      <div class="col-lg-6">
        <div class="titlepage flot_right text_align_left">
          <h2>
            Protecting Car Mechanics: Safeguarding Those Who Keep Us Moving
          </h2>
          <p>
            This article delves into the importance of car mechanic safety,
            highlighting the risks faced in automotive repair and strategies to
            enhance workplace safety. By addressing common hazards and promoting
            best practices, it advocates for a safer environment for automotive
            professionals.
          </p>
          <a href="" class="article-btn"> Read More </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="perfect_img right_span">
          <figure>
            <img src="./../../assets/media/article-pic-2.jpg" alt="#" />
          </figure>
        </div>
      </div>
    </div>
    <div class="row d_flex grig">
      <div class="col-lg-6">
        <div class="perfect_img">
          <figure>
            <img src="../../../assets/media/article-pic-3.jpg" alt="#" />
          </figure>
        </div>
      </div>
      <div class="col-lg-6 order">
        <div class="titlepage text_align_left">
          <h2>Mastering Car AC Repair: Troubleshooting Tips and Techniques</h2>
          <p>
            Explore the world of car AC repair with this informative piece,
            offering insights into common AC issues in vehicles and tips for
            effective troubleshooting. From understanding refrigerant systems to
            diagnosing faulty components, this article equips readers with the
            knowledge needed to tackle car AC repairs confidently.
          </p>

          <a href="" class="article-btn"> Read More </a>
        </div>
      </div>
    </div>
    <div class="row d_flex">
      <div class="col-lg-6">
        <div class="titlepage flot_right text_align_left">
          <h2>
            Avoiding Bad Mechanics: Tips for Finding Reliable Automotive
            Services
          </h2>
          <p>
            Discover essential tips on how to avoid unscrupulous mechanics and
            ensure quality automotive services in this insightful article. From
            researching certifications to seeking recommendations, learn how to
            identify reputable mechanics and maintain peace of mind when
            entrusting your vehicle for repairs.
          </p>
          <a href="" class="article-btn"> Read More </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="perfect_img right_span">
          <figure>
            <img src="./../../assets/media/article-pic-4.jpg" alt="#" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
