<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <a class="navbar-brand" href="index.html">
        <span routerLink="">Apex Auto</span>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class=""> </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink=""
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a routerLink="/services" class="nav-link" href="service.html"
              >Services</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/why-us">Why Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Blog</a>
          </li>
        </ul>

        <div class="quote_btn-container">
          <a href="">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a href="tel:+1-800-555-5555"> Call : +359 88 765 4321</a>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
