<section class="about_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="../../../assets/media/about-img.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>Who are we</h2>
          </div>
          <p>
            Welcome to Apex Auto, where automotive excellence meets exceptional
            service. With a proud legacy of serving thousands of satisfied
            customers, we have established ourselves as a trusted leader in car
            repair, tire services, wheel alignments, and general vehicle
            maintenance.
            <br />
            <br />
            Apex Auto, we take pride in our commitment to delivering top-notch
            automotive solutions. Our highly skilled technicians leverage years
            of experience and advanced diagnostic tools to diagnose and repair
            vehicles efficiently and effectively.
            <br />
            <br />
            Whether it's a routine oil change, brake repair, or complex engine
            diagnostics, we approach every job with precision and care. What
            sets us apart is our unwavering dedication to customer satisfaction.
            We prioritize transparency and communication, ensuring our customers
            are informed every step of the way.
            <br />
            <br />
            Visit us and discover why car owners trust us for all their
            automotive needs. At Apex Auto, your satisfaction and safety are our
            priorities. Drive with confidence knowing that your vehicle is in
            expert hands. Experience automotive care at its finest with Apex
            Auto.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="why_section" style="padding-bottom: 80px">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/media/w1.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Best Workers</h4>
            <p>
              Generators on the Internet tend to repeat predefined chunks as
              necessary
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/media/w2.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Best Materials</h4>
            <p>
              Generators on the Internet tend to repeat predefined chunks as
              necessary
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/media/w3.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Best Service</h4>
            <p>
              Generators on the Internet tend to repeat predefined chunks as
              necessary
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
