<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row g-5">
      <div class="">
        <article class="blog-details">
          <div class="post-img">
            <img
              src="../../../assets/media/article-pic-3.jpg"
              alt=""
              class="img-fluid"
            />
          </div>

          <h2 class="title">
            {{ theme.themeName }}
          </h2>
          <div class="meta-top">
            <ul>
              <li class="d-flex align-items-center">
                <i class="bi bi-person"></i>
                <a href="blog-details.html">Admin</a>
              </li>
              <li class="d-flex align-items-center">
                <i class="bi bi-clock"></i>
                <a href="blog-details.html"
                  ><time datetime="2020-01-01">{{
                    theme.created_at | elapsedTime
                  }}</time></a
                >
              </li>
            </ul>
          </div>
          <div class="content">
            <p>
              {{ theme.posts[0].text }}
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- <div class="sidebar-item recent-posts">
  <h3 class="sidebar-title">Recent Posts</h3>

  <div class="mt-3">
    <div class="post-item mt-3">
      <img src="assets/img/blog/blog-recent-1.jpg" alt="" />
      <div>
        <h4>
          <a href="blog-details.html">Nihil blanditiis at in nihil autem</a>
        </h4>
        <time datetime="2020-01-01">Jan 1, 2020</time>
      </div>
    </div>
    

    <div class="post-item">
      <img src="assets/img/blog/blog-recent-2.jpg" alt="" />
      <div>
        <h4><a href="blog-details.html">Quidem autem et impedit</a></h4>
        <time datetime="2020-01-01">Jan 1, 2020</time>
      </div>
    </div>

    <div class="post-item">
      <img src="assets/img/blog/blog-recent-3.jpg" alt="" />
      <div>
        <h4>
          <a href="blog-details.html"
            >Id quia et et ut maxime similique occaecati ut</a
          >
        </h4>
        <time datetime="2020-01-01">Jan 1, 2020</time>
      </div>
    </div>

    <div class="post-item">
      <img src="assets/img/blog/blog-recent-4.jpg" alt="" />
      <div>
        <h4>
          <a href="blog-details.html">Laborum corporis quo dara net para</a>
        </h4>
        <time datetime="2020-01-01">Jan 1, 2020</time>
      </div>
    </div>

    <div class="post-item">
      <img src="assets/img/blog/blog-recent-5.jpg" alt="" />
      <div>
        <h4>
          <a href="blog-details.html"
            >Et dolores corrupti quae illo quod dolor</a
          >
        </h4>
        <time datetime="2020-01-01">Jan 1, 2020</time>
      </div>
    </div>
  </div>
</div> -->
