<!-- slider section -->
<section class="slider_section">
  <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <div class="detail-box">
                <h1>
                  Apex Auto <br />
                  The Best or Nothing
                </h1>
                <p>
                  We specializes in comprehensive automotive services including
                  car and tire repair, alignment, and general maintenance. With
                  expert technicians and state-of-the-art equipment, we ensure
                  reliable and efficient solutions to keep vehicles running
                  smoothly and safely.
                </p>
                <div class="btn-box">
                  <a routerLink="/why-us" class="btn-1"> Read More </a>
                  <a routerLink="/contact" class="btn-2"> Contact Us </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-7">
              <div class="img-box">
                <img src="../../../assets/media/slider-img.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <div class="detail-box">
                <h1>
                  Car Repair <br />
                  And Maintenance
                </h1>
                <p>
                  Anything embarrassing hidden in the middle of text. All the
                  Lorem Ipsuanything embarrassing hidden in the middle of text.
                  All the Lorem Ipsumm
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1"> Read More </a>
                  <a href="" class="btn-2"> Contact Us </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-7">
              <div class="img-box">
                <img src="../../../assets/media/slider-img.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <div class="detail-box">
                <h1>
                  Car Repair <br />
                  And Maintenance
                </h1>
                <p>
                  Anything embarrassing hidden in the middle of text. All the
                  Lorem Ipsuanything embarrassing hidden in the middle of text.
                  All the Lorem Ipsumm
                </p>
                <div class="btn-box">
                  <a href="" class="btn-1"> Read More </a>
                  <a href="" class="btn-2"> Contact Us </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-7">
              <div class="img-box">
                <img src="../../../assets/media/slider-img.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <ol class="carousel-indicators">
      <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
      <li data-target="#customCarousel1" data-slide-to="1"></li>
      <li data-target="#customCarousel1" data-slide-to="2"></li>
    </ol> -->
  </div>
</section>
<!-- end slider section -->

<!-- service section -->

<section class="service_section">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Our Services</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/media/s1.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>General Maintenance</h4>
            <p>
              Routine car maintenance ensures safety, performance, and longevity
              of vehicles
            </p>
            <a routerLink="/services">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/media/s2.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Repair and Replacement</h4>
            <p>
              Efficient car repair and part replacement ensure vehicle
              reliability and safety
            </p>
            <a routerLink="/services">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/media/s3.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Tire Repair and Replacement</h4>
            <p>
              Expert tire repair and replacement for safe and smooth driving
            </p>
            <a routerLink="/services">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/media/s4.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Wheel Alignment</h4>
            <p>
              Precise wheel alignment enhances steering control and tire
              longevity
            </p>
            <a routerLink="/services">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/media/s5.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Fuel System Repair</h4>
            <p>
              Effective fuel system repair optimizes engine performance and fuel
              efficiency
            </p>
            <a routerLink="/services">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="../../../assets/media/s6.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Tune Up</h4>
            <p>
              Our thorough car tune-up enhances engine performance and fuel
              economy
            </p>
            <a routerLink="/services">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end service section -->

<!-- about section -->

<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="../../../assets/media/about-img.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>About Us</h2>
          </div>
          <p>
            At Apex Auto, we pride ourselves on delivering top-notch automotive
            repairs and exceptional customer service. Our experienced team is
            committed to keeping your vehicle running smoothly and safely for
            years to come.
          </p>
          <a routerLink="/why-us"> Read More </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->

<!-- client section -->
<!-- <section class="client_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Testimonial</h2>
      <p>
        Even slightly believable. If you are going to use a passage of Lorem
        Ipsum, you need to
      </p>
    </div>
  </div>
  <div class="container px-0">
    <div id="customCarousel2" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="../../../assets/media/client.jpg" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>Morojink</h5>
                        <h6>Customer</h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugia
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="../../../assets/media/client.jpg" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>Morojink</h5>
                        <h6>Customer</h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugia
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="../../../assets/media/client.jpg" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>Morojink</h5>
                        <h6>Customer</h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugia
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel_btn-box">
        <a
          class="carousel-control-prev"
          href="#customCarousel2"
          role="button"
          data-slide="prev"
        >
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#customCarousel2"
          role="button"
          data-slide="next"
        >
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section> -->
<!-- end client section -->
